{% load static %}

{% load crispy_forms_tags %}


<html>
    <head>

        <meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/superhero/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <title> TaskHero | Reset Password </title>

    </head>

{% include 'pre-base.html' %}


<br>

<div class="container bg-secondary shadow-md p-5 form layout" style="border-radius: 10px; width: 500px; margin-top: 125px;">

	{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}
      <div class="text-center success" style="background-color: #d4edda; border-color: #c3e6cb; color: #155724; padding: 10px; margin-bottom: 10px; ">
        {{ message }}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

    <h3>Password reset complete!</h3><br/>

<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p><br>


</div>

</html>

