{% load static %}

{% load crispy_forms_tags %}


<html>
    <head>

        <meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/superhero/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <title> TaskHero | Reset Password </title>

    </head>

{% include 'pre-base.html' %}


<br>

<div class="container bg-secondary shadow-md p-5 form layout" style="border-radius: 10px; width: 500px; margin-top: 125px;">

    <h3>Reset password</h3><br/>

    <p>Enter your email address below, and we'll email instructions for setting a new one. </p>
<br>
    <form method="post" autocomplete="off">

    {% csrf_token %}
    {{ form.as_p }}
<br>
    <input type="submit" class="btn btn-primary" value="Submit" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>

</html>

